body {
    background: #13131B;
    font: 13pt 'Roboto', Arial, sans-serif;
    color: #000000;
    overflow-x: hidden;
}

#wreathCont {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin-top: 5vh;
    position: absolute;
    z-index: -1;
}

#wreath {
    width: 100vw;
    height: 100vw;
}

.wreath1, .wreath2 {
    border-radius: 100%;
}

    .wreath1 {
        width: 30%;
        height: 30%;
        border: #ffffff 4px dashed;
        padding: 1.5%;
        opacity: 0.25;
    }

    .wreath2 {
        width: 100%;
        height: 100%;
        border: #ffffff 4px dotted;
        opacity: 1;
    }

#header {
    width: 100vw;
    margin-top: 20vh;
    color: #ffffff;
    text-align: center;
    font-family: 'Literata', Times, serif;
    text-transform: uppercase;
    line-height: 25pt;
    text-shadow: 0px 0px 5px #13131B;
    float: left;
}

    #rhodesIsland {
        font-size: 60pt;
    }

    #operatorsDirectory {
        font-size: 25pt;
        letter-spacing: 3pt;
    }

#container {
    width: 100vw;
    min-height: 10px;
    margin-top: 5vh;
    float: left;
}

#container #triangle {
    width: 0; 
    height: 0;
    border-left: 45vw solid transparent;
    border-right: 45vw solid transparent; 
    border-bottom: 15vh solid #ffffff;
}

#container #mainBody {
    background: #ffffff;
    width: 90vw;
    padding: 20px 20px 50px 20px;
}

.rarity {
    background: #657178;
    margin-top: 60px;
    margin-bottom: 20px;
    padding: 10px;
    color: #FFE6C1;
    border-radius: 5px;
}

    .rarity:first-child {
        margin-top: 0px;
    }

.charTile {
    background-position: center;
    background-repeat: no-repeat;
    height: 20rem;
    border-radius: 5px;
    position: relative;
}

.charInfo {
    width: calc(100% - 20px);
    overflow: hidden;
    position: absolute;
    left: 10px;
    bottom: 10px;
    box-sizing: border-box;
    border-radius: 5px;
}

.charHover {
    width: 100%;
    margin-bottom: calc((1rem + 10px)*-1);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
}

.charHover:hover {
    margin-bottom: 0;
}

.charArchetype {
    background: #000000;
    width: 50px;
    height: 50px;
    padding: 5px;
    border: 4px solid #ffffff;
    border-radius: 5px;
    position: relative;
    z-index: 2;
}

    .charArchetype img {
        width: 100%;
    }

.charName {
    background: #ffffff;
    margin-top: -25px;
    padding: 25px 10px 0px 10px;
    font: 14pt 'Literata', Times, serif;
    text-align: center;
    border-radius: 5px;
}

.readInfo {
    height: 1rem                           !important;
    margin-top: 10px                       !important;
    font: 9pt 'Roboto', Arial, sans-serif  !important; 
    text-transform: uppercase              !important;
    letter-spacing: 0.5pt                  !important;
    border-top: 1px solid lightgray      !important;
    padding: 5px 0px                       !important;
    box-sizing: content-box                !important;
}

#footer {
    background: #f2f2f2;
    width: 90vw;
    padding: 50px 20px;
}