body {
    background: #13131B;
    font: 11.5pt 'Roboto', Arial, sans-serif;
    color: #000000;
    overflow-x: hidden;
}

blockquote {
    margin: 10px 0px 0px 15px;
    padding: 5px 5px 5px 10px;
    border-left-style: solid;
    border-left-width: 5px;
}

#wreathCont {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin-top: 5vh;
    position: absolute;
    z-index: -1;
}

#wreath {
    width: 100vw;
    height: 100vw;
}

.wreath1, .wreath2 {
    border-radius: 100%;
}

    .wreath1 {
        width: 30%;
        height: 30%;
        border: #ffffff 4px dashed;
        padding: 1.5%;
        opacity: 0.25;
    }

    .wreath2 {
        width: 100%;
        height: 100%;
        border: #ffffff 4px dotted;
        opacity: 1;
    }

#operator {
    width: 100vw;
    margin-top: 20vh;
    float: left;
}

#container {
    width: 100vw;
    min-height: 10px;
    margin-top: 5vh;
    float: left;
}

#main-sprite {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    width: calc(100vw * 50%);
    margin-top: -25vh;
    position: relative;
}

#main-sprite img {
    width: 100%;
}

.opHeader {
    padding: 10px 20px  !important;
    border-radius: 5px  !important;
    letter-spacing: 0.5pt   !important;
}

.desc {
    width: 70%;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
}

#container #mainBody {
    background: #ffffff;
    width: 80vw;
    margin-top: 25vh;
    padding: 20px 10vw;
    border-radius: 3px;
}

#opName {
    font: 60pt 'Literata', Times, serif;
    overflow: auto;
}

.rarity {
    float: left;
    font-size: 20pt;
    padding-top: 35pt;
    padding-left: 20px;
}

    .rarity .on {
        color: #D3AB70;
    }

    .rarity .off {
        color: #DBDBDB;
    }

.subtitle {
    margin-top: 100px;
    font: 35pt 'Literata', Times, serif;
}

th, .header {
    font: 12pt 'Literata', Times, serif;
    font-weight: 700;
    text-transform: uppercase;
    word-spacing: 1pt;
    padding-right: 3px;
}

.divider {
    width: 40px;
    height: 5px;
    margin: 10px 0px 20px 0px;
}

.archetypes {
    font-family: 'Literata', Times, serif;
    padding: 10px 0px;
}

    .tag {
        padding: 3px 6px;
        border-radius: 5px;
    }

.artInfo {
    margin: 20px 0px;
    padding: 15px;
    border: 1px solid #EDEDED;
}

.traits {
    margin: 50px 0px 10px 0px;
}

.smallSection {
    margin: 10px 0px 10px 0px;
}

table, tr, th, td {
    border: 1px solid #EDEDED;
    border-collapse: collapse;
    padding: 5px 10px;
}

table {
    width: 100%;
}

th {
    width: 30%;
}

#footer {
    width: 80vw;
    padding: 50px 0px 25px 0px;
    color: gray;
    font-size: 10pt;
}

#footer a {
    color: #9c896c;
}